nav {
  display: flex;
  background-image: linear-gradient( #2c599d, #5b84c4);
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#logo {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
}

nav > p {
  cursor: pointer;
}

nav > p:hover {
  color: tomato;
}